<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    #редирект с www на без www
    RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
    #редирект с index.php на без
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
    RewriteRule ^index\.php$ / [R=301,L]
    #убираем последний слэш
    RewriteRule ^(.*)/$ $1 [R=301,L]


    #условие, что все существующие файлы не будут обрабатываться регулярным выражением
    RewriteCond %{REQUEST_FILENAME} !-d
    #условие, что все существующие папки не будут обрабатываться регулярным выражением
    RewriteCond %{REQUEST_FILENAME} !-f
    #регулярное выражение, в нашем случае — при любой строке запроса будет открывать index.php,
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
